$primary-color: #ffc87a;
$text-color: #1a2b5f;
$text-gray: #c6cad7;

html{
    font-size:  62.5%;
}

*,*::before,*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    color: $text-color;
    line-height: 1.4;
    font-weight: 400;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

@mixin flex($align:flex-start,$justify:flex-start,$wrap:nowrap,$dir:row){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

@mixin size($width , $height: $width){
    width: $width;
    height: $height;
}
@mixin hover(){
    transform: scale(1.1);
    transition: 0.35s;
}

//1440px, 1170
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
 
.container{
    margin: 0 auto;
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
} 

.header{
    padding-top: 4rem;
    &__inner{
        @include  flex(center,space-between);
    }
    &__menu{
        &-list{
            @include flex(center)
        }
        &-item{
            margin-left: 5rem;
            &:last-child{
                margin-left: 7rem;
            }
        }
        &-link{
            font-size: 1.6rem;
            color: $text-color;
            transition: color 0.3s linear, border 0.25s linear;
            &:hover{
                color: $primary-color;
            }
        }
    }
}

.logo{
    font-size: 2.5rem; 
    font-weight: 600;
    color: $text-color;
    transition: 0.4s;
    &__text{
        color: $primary-color;
    }
    &:hover{
        @include hover();
    }
}

.banner{
    padding-top: 15rem;
    padding-bottom: 15rem;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    &__heading{
        font-weight: 700;
        font-size: 6rem;
        margin-bottom: 2rem ;
    }
    &__desc{
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 4rem;
    }
    &__buttons{
        display: flex;
        justify-content: center;
        align-items: stretch;
        .btn{
            margin: 0 1rem;
            transition: 0.4s;
            &:hover{
                @include hover();
                box-shadow: 0 10px 35px 5px $primary-color;
            }
        }
    }
}

.btn{
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    color: $text-color;
    padding: 1.5rem 3rem;
    display: inline-block;
    border: none;
    background-color: transparent;
    &--border{
        border: 1px solid currentColor;
    }
    &--rounded{
        border-radius: 5rem;
    }
    &--primary{
        background-color: $primary-color;
        transition: 0.4s;
        &:hover{
            @include hover();
            box-shadow: 0 10px 35px 5px $primary-color;
            color: white;
        }
        // &.has-shadow{
        //     box-shadow: 0 10px 35px 5px $primary-color;
        // }
    }
}

.category{
    &__list{
        @include flex(stretch,space-between,wrap);
        &:hover > :not(:hover){
            opacity: 0.4;
            transform: scale(0.9);
        }
    }
    &__item{
        transition: 0.35s;
        width: calc(25% - 22.5px);
        padding: 2.5rem;
        background-color: white;
        border-radius: 20px;
        @include flex(stretch,flex-start,nowrap,column);
        &:first-child{
            box-shadow: 0 20px 35px 5px rgba(0, 145, 234, 0.25);
        }
        &:nth-child(2){
            box-shadow: 0 20px 35px 5px rgba(232, 171, 19, 0.25);
        }
        &:nth-child(3){
            box-shadow: 0 20px 35px 5px rgba(48, 64, 106, 0.25);
        }
        &:last-child{
            box-shadow: 0 20px 35px 5px rgba(51, 146, 148, 0.25);
        }
    }
    &__image{
        object-fit: cover;
        border-radius: inherit;
        margin-bottom: 4rem;
        @include size(100%, 23rem);
    }
    &__name,&__details{
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__name{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    &__details{
        font-size: 1.4rem;
        color: $text-gray;
        margin-top: auto;
        i {
            margin-left: 1.5rem;
        }
    }
}

.feature{
    padding-top:18rem;
    &__item{
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        margin-bottom: 15rem;
        &:nth-child(even){
            flex-direction: row-reverse;
            .feature__info{
                padding-right: 10rem;
            }
        }
        &:nth-child(odd){
            .feature__info{
                padding-left: 10rem;
            }
        }
    }
    &__image, &__info{
        width: 50%;
    }
    &__title{
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
    }
    &__desc{
        font-weight: 300;
        font-size: 1rem;
        margin-bottom: 4rem;
        line-height: 1.8rem;
    }
    &-intro{
        &__item{
            font-weight: 600;
            margin-bottom: 3rem;
            text-decoration: underline;
            font-size: 1.8rem;
            &--cricle{
                text-decoration: none;
                position: relative;
                padding-left: 3rem;
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 4rem;
                    background-color: #FDF2D6;
                }
                &:nth-child(2)::before{
                    background-color: #F0A24F;
                }
                &:nth-child(3)::before{
                    background-color: #90AC3C;
                }
                &:nth-child(4)::before{
                    background-color: #1C271C;
                }
            }
        }
    }
    &-best{
        &__icon{
            width: 5rem;
            height: 5rem;
            border-radius: 4px;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            color: #8A1C73;
            position: relative;
            z-index: 1;
            transition: 0.4s;
            &:hover{
                @include hover();
                box-shadow: 0 8px 10px 2px;  
            }
            &--green{
                color: green;
                &:hover{
                    @include hover();
                    box-shadow: 0 8px 10px 2px green;  
                }
            }
            &--blue{
                color: #34A8FF;
                &:hover{
                    @include hover();
                    box-shadow: 0 8px 10px 2px #34A8FF;  
                }
            }
            &--orange{
                color: #F0A24F;
                &:hover{
                    @include hover();
                    box-shadow: 0 8px 10px 2px #F0A24F;  
                }
            }
            &::after{
                content: "";
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-color: currentColor;
                opacity: 0.1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
        &__title{
            font-size: 1.8rem;
            margin-bottom: 1rem;
            font-weight: 600;
        }
        &__desc{
            font-weight: 300;
        }
        &__list{
            display: flex;
            align-items: self-start;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__item{
            width: calc(50% - 4rem);
            margin-bottom: 5rem;
        }
    }
}

.text-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    &--2{
        -webkit-line-clamp: 2;
    }
}

.partner{
    margin-bottom: 19rem;
    &__container{
        max-width: 83rem;
        text-align: center;
    }
    &__title{
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 7rem;
        padding-bottom: 7rem;
        border-bottom: 1px solid currentColor;
    }
    &__list{
        @include flex(center,space-between);
        & li{
            line-height: 5rem;
        }
    }
    &__item{
        width: 25%;
        width: 100px;
        object-fit: cover;
    }
}

.connect{
    text-align: center;
    margin-bottom: 17rem;
    &__title{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 3.5rem;
    }
    &__notice{
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 6rem;
        span{
            color: $primary-color;
        }
    }
    &__list{
        @include flex(stretch,space-between);
        &:hover > :not(:hover){
            opacity: 0.4;
            transform: scale(0.9);
        }
        & li{
            transition: 0.35s;
        }


    }
    &__item{
        width: calc(25% - 22.5px);
        object-fit: cover;
        border-radius: 2rem;
        overflow: hidden;
    }
}

.subscribe{
    margin-bottom: 5rem;
    &__container{
        @include flex(flex-start,space-between);
        padding-bottom: 8rem;
        border-bottom: 2px solid $text-color;
    }
    &__title,&__info{
        width: 50%;
    }
    &__title{
        font-size: 2rem;
        font-weight: bold;
        max-width: 43rem;
    }
    &__form{
        background-color: #f2f1f6;
        padding: 2rem 2.5rem;
        @include flex(center,space-between);
        margin-bottom: 3.5rem;
        border-radius: 1rem;
        
    }
    &__input,&__button{
        padding: 0;
    }
    &__input{
        border: 0;
        outline: none;
        background-color: transparent;
        font-size: 1.4rem;
        font-family: "Poppins";
        flex-grow: 1;
    }
    &__button{
        background-color: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
        font-size: 1.4rem;
        font-family: "Poppins";
        font-weight: bold;
        padding: 1.5rem;
        transition: 0.5s;
        &:hover{
            background-color: red;
            box-shadow: 0 8px 10px 2px #1a2b5f;
            color: #f2f1f6;
            border-radius: 1rem;
            transition: 1s;
        }    
    }
    &__social i{
        color: $text-color;
        margin-left: 4rem; 
        font-size: 2rem;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: 0.4s;
        &:hover{
            background-color: #F9F9F9;
            box-shadow: 0 8px 10px 2px $text-color;
            transition: 0.3s;
        }
    }
}

.footer{
    &__container{
        @include flex(flex-start,space-between);
    }
    &__item{
        width: 25%;
    }
    &__link{
        color:$text-color;
        font-size: 1.4rem;
        display: block;
        margin-bottom: 3rem;
        width: fit-content;
        
    }
}

@media screen and (max-width: 1023px) {
    .banner{
        padding-top: 5rem;
        padding-bottom: 5rem;
        &__heading{
            font-size: 4rem;
            margin-bottom: 2rem;
        }
        &__desc{
            font-size: 1.6rem;
            padding: 0 1rem;
        }
        &__butons > .btn{
            font-size: 1.4rem;
        }
    }
    .category{
        &__item{
            width: calc(50% - 22.5px);
            margin: 1rem;
        }
    }
    .feature {
        padding-top: 10rem;
        &-intro__item{
            font-size: 1.2rem;
        }
        &-best__item{
            margin: 1rem;
        }
        &__item {
            flex-direction: column;
            margin-bottom: 5rem;
            &:nth-child(even){
                flex-direction: column;
                .feature__info{
                    padding: 2rem;
                
                }
            }
            &:nth-child(odd) .feature__info{
                padding: 2rem;
            }
        }
        &__image,&__info{
            width: 100%;
        }
        &__image img{
            margin: 0 auto 5rem;
        }
    }
    .partner{
        margin: 5rem;
        border: 1px solid $text-color ;
        &__title{
            margin-bottom: 1rem;
            padding-bottom: 4rem;
        }
    }
    .connect{
        padding-bottom: 5rem;
        margin-bottom: 5rem;
        &__list{
            flex-wrap: wrap;
        }
        &__item{
            width: calc(50% - 1rem);
            margin: 0.5rem;
        }
    }
    .subscribe{
        &__container{
            flex-direction: column;
        }
        &__title{
            font-size: 1.5rem;
            width: 100%;
            max-width: 100%;
            padding: 0 1rem;
            margin-bottom: 0.5rem;
        }
        &__info{
            width: 100%;
        }
        &__form{
            margin-bottom: 1rem;
            padding: 1rem 1.5rem;
        }
        &__social {
            display: flex;
            justify-content: space-around;
            align-items: center;
            & i{
                margin-left: 0;
            }
        }
        &__button{
            padding: 0.5rem;
            &:hover{
                box-shadow: 0 0px 10px 2px #1a2b5f;
            }
        }
    }
}

@media screen and (max-width: 767px){
    .header__menu{
        display: none;
    }
    .banner{
        &__desc{
            font-size: 1.2rem;
        }
    }
    .category{
        &__item{
            width: 100%;
            margin: 1rem;
        }
    }
    .feature{
        &__title{
            font-size: 2rem;
        }
    }
    .partner{
        margin-bottom: 5rem;
        &__list{
            flex-wrap: wrap;
            justify-content: content;
        }
        &__item{
            width: 50%;
            font-size: 2rem;
            padding: 3rem;
            img{
                margin: 0 auto;
            }
        }
    }
    .connect{
        padding-bottom: 5rem;
    }
    .footer{
        &__container{
            flex-wrap: wrap;
        }
        &__item{
            width: 100%;
            margin-bottom: 2rem;
        }
        &__link{
            margin-bottom: 0;;
        }
    }
}

@media screen and (max-width: 479px) {
    .banner{
        &__heading{
            font-size: 3rem;
        }
        &__butons > .btn{
            font-size: 1.2rem;
        }
    }
    .connect{
        margin-bottom: 5rem;
    }
    .subscribe{
        &__container{
            padding-bottom: 4rem;
        }
    }
}
